*{
    font-family: 'Mulish', sans-serif;
    margin:0;
    padding:0;
}
body{
    background-color: #fcfcfc;
}
main{
    margin: 175px auto;
    margin-bottom:0px;


}
/* NAVBAR-START */
.nav-container{
    z-index: 1000;
    box-shadow: 0 15px 40px -20px rgba(80, 83, 98, 0.2);
    width: 100%;
    padding:14px 0;
    background-color: white;
    position: fixed;
    top: 0;

}

.navbar{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    

}

.nav-left{
    width:40%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-left .img{
 margin-right: 20px;
}
.text:hover .location{
    color:#FC8320;
    border-bottom-color: #FC8320;

}
.nav-left-items span{
    font-size:14px;
}
.nav-left-items .location{
    padding-bottom: 6px;
    border-bottom: 3px solid black;
    font-weight: bolder;
    margin-right: 10px;
}
.nav-right{
    width:50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.new-badge{
    position: relative;
}
.new{
    color:#f66b11;
    font-size: 10px;
    position:absolute;
    top: -5px;
    right:-26px;

}
.nav-right a{
    text-decoration: none;
    color:black;
    
}
.nav-right>.nav-right-items{
    width:13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:17px;
    font-weight: 600;
}
.nav-right>.nav-right-items>a:hover{
    color:#FC8320;
}
/* NAVBAR-END */

/* INFO_NAVBAR-START */
.info-nav-container{
    z-index: 900;
    width:100%;
    padding:14px 0;
    background-color: #fcfcfc;
    position: fixed;
    top: 80px;
}
.info-navbar{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #c9cacf;
}

.info-navbar-left{
    width: 40%;
    font-size: xx-large;
    font-weight: bold;
}
.info-navbar-right{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:14px;
}
.info-navbar-right .filter{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.relevance{
    border-bottom: 2px solid black;
    padding-bottom: 21px;
}
.filter{
    color:black;
    font-weight: bolder;
}
.filter>span{
    margin-right:6px ;
}
/* INFO_NAVBAR-END */


/* CARDS-START */
.card-container{
    max-width: 1245px;
    min-width: 1245px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow:row wrap;
    display: felx;
}
.card{
    /* height: 50vh; */
    width: 254px;
    padding:2%;
    display: flex;
    flex-direction:column;
}
.card:hover{
    border:2px solid  rgb(201, 202, 207,0.3);   
}
.card-title{
    font-size:18px ;
    font-weight: bold;
    padding: 8px 0;
}
.card-subtitle{
    font-size:14px ;
}
.others-items{
    font-size: 10px;
}
.rating{
    background-color: #48c479;
    width:35px;
    padding:2px;
    color:white;
}
.others{
    padding:10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid  rgb(201, 202, 207,1);
    
}
.offers{
    display: flex;
    align-items: center;
    margin:10px  0;
    font-size: 15px;
}
.offers>div{
    margin-left: 10px;
}
.quickview{
    visibility: hidden;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding:10px 0;
}
.card:hover .quickview{
    border-top: 2px solid rgb(201, 202, 207,1);
    visibility: visible;    
    color: #5d8ed5;
}
/* CARDS-END */


/* FOOTER-START */
.align{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
.footer{
    width:100%;
    background-color: black;
    color:whitesmoke;
}
.footer a{
    text-decoration: none;
    color:whitesmoke;
}
.footer>.top,footer>.mid>.mid1{
    display:flex;
    justify-content: space-between;
    padding:50px 0;
}
footer>.mid{
    border-top:.5px solid white;
    border-bottom:.5px solid white;
    padding:50px 0;
}
.footer-align{
    display:flex;
    flex-direction: column;
}
.footer>.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer>.top{
    padding:50px 0;
}
.footer p{
    padding:20px 0;
}
.footer .bottom{
    padding:35px 0;
}
.handle{
    width:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type:none;
}


/* FOOTER-END */